version: '2'
services:
  integrity:
    restart: always
    image: "integrity"
  platform:
    image: "platform"
    ports:
      - "4567:4567"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - INTEGRITY_APP_URL=http://integrity:4444/
  ruby-base:
    build:
      context: "./ruby-base/"
      dockerfile: "Dockerfile"
    image: "platform-base-ruby:latest"
  javascript-base:
    build:
      context: "./javascript-base/"
      dockerfile: "Dockerfile"
    image: "platform-base-js:latest"

