version: '2'
services:
  integrity:
    restart: always
    image: "integrity"
    ports:
      - "4444:4444"
  platform:
    image: "platform"
    ports:
      - "4567:4567"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
